body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
}

.hero {
  text-align: center;
  padding: 2rem;
  background: url('/marcika.jpg') no-repeat center/cover;
  color: white;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    background-color: #FF5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
}

section {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
